﻿
@{
    ViewBag.Title = "Pagina Example";
    ViewBag.NombreApp = "SAPU";
    Layout = "~/Views/Shared/_BasicTemplate.cshtml";
}

@{
    if (Layout == "~/Views/Shared/_BasicTemplate.cshtml")
    {
        <br /><br /><br /><br />
    }
}

<div class="col-md-8 order-md-1">
    <h4 class="mb-3 font-weight-light text-primary">Creacion de Usuario</h4>
    <div class="dropdown-divider"></div>
    <form class="needs-validation" novalidate>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="" value="" required>
                <div class="invalid-feedback">
                    Nombre es requerido.
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="apellido1">Apellido 1</label>
                <input type="text" class="form-control" id="apellido1" placeholder="" value="" required>
                <div class="invalid-feedback">
                    Apellido 1 es requerido
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="apellido2">Apellido 2</label>
                <input type="text" class="form-control" id="apellido2" placeholder="" value="" required>
                <div class="invalid-feedback">
                    Apellido 2 es requerido.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="login">Login</label>
                <input type="text" class="form-control" id="login" placeholder="" value="" required>
                <div class="invalid-feedback">
                    Password es requerido
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="" value="" required>
                <div class="invalid-feedback">
                    Password es requerido
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="passwordConfirm">Confirm Password</label>
                <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" placeholder="" value="" required oninput="this.setCustomValidity(this.value != password.value ? 'Passwords no coinciden.' : '')">
                <div class="invalid-feedback">
                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="email">Email <span class="text-muted">*</span></label>
                <input type="email" class="form-control" id="email" placeholder="tu@dominio.com">
                <div class="invalid-feedback">
                    Favor ingresar una direccion de correo valida.
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="telefono">Telefono <span class="text-muted">*</span></label>
                <input type="text" class="form-control" id="telefono" placeholder="">
                <div class="invalid-feedback">
                    Favor ingresar un numero de telefono valido.
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="estado">Estado</label>
                <div class="custom-control custom-radio">
                    <input id="estadoActivo" name="estadoUser" type="radio" class="custom-control-input" checked required>
                    <label class="custom-control-label" for="estadoActivo">Activo</label>
                </div>
                <div class="custom-control custom-radio">
                    <input id="estadoInactivo" name="estadoUser" type="radio" class="custom-control-input" required>
                    <label class="custom-control-label" for="estadoInactivo">Inactivo</label>
                </div>
                <div class="invalid-feedback">
                    Selecciona un estado
                </div>
            </div>
        </div>


            @*<div class="mb-3">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
                <div class="invalid-feedback">
                    Please enter your shipping address.
                </div>
            </div>

            <div class="mb-3">
                <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
            </div>

            <div class="row">
                <div class="col-md-5 mb-3">
                    <label for="country">Country</label>
                    <select class="custom-select d-block w-100" id="country" required>
                        <option value="">Choose...</option>
                        <option>United States</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid country.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="state">State</label>
                    <select class="custom-select d-block w-100" id="state" required>
                        <option value="">Choose...</option>
                        <option>California</option>
                    </select>
                    <div class="invalid-feedback">
                        Please provide a valid state.
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="zip">Zip</label>
                    <input type="text" class="form-control" id="zip" placeholder="" required>
                    <div class="invalid-feedback">
                        Zip code required.
                    </div>
                </div>
            </div>
            <hr class="mb-4">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="same-address">
                <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="save-info">
                <label class="custom-control-label" for="save-info">Save this information for next time</label>
            </div>
            <hr class="mb-4">

            <h4 class="mb-3">Payment</h4>

            <div class="d-block my-3">
                <div class="custom-control custom-radio">
                    <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                    <label class="custom-control-label" for="credit">Credit card</label>
                </div>
                <div class="custom-control custom-radio">
                    <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                    <label class="custom-control-label" for="debit">Debit card</label>
                </div>
                <div class="custom-control custom-radio">
                    <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                    <label class="custom-control-label" for="paypal">Paypal</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="cc-name">Name on card</label>
                    <input type="text" class="form-control" id="cc-name" placeholder="" required>
                    <small class="text-muted">Full name as displayed on card</small>
                    <div class="invalid-feedback">
                        Name on card is required
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="cc-number">Credit card number</label>
                    <input type="text" class="form-control" id="cc-number" placeholder="" required>
                    <div class="invalid-feedback">
                        Credit card number is required
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="cc-expiration">Expiration</label>
                    <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                    <div class="invalid-feedback">
                        Expiration date required
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="cc-expiration">CVV</label>
                    <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                    <div class="invalid-feedback">
                        Security code required
                    </div>
                </div>
            </div>*@
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
</form>
</div>



@section scripts{
    <script>
        // JavaScript que deshabilita el submit del formulario si hay campos que no pasan la validacion
        (function () {
            'use strict';

            window.addEventListener('load', function () {
                //validando confirmacion de password
                //var pass = jQuery('#password');
                //var passConfirm = jQuery('#passwordConfirm');
                //passConfirm.setCustomValidity(pass.value != passConfirm.value ? "Error" : "");

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);

            
            //passConfirm.on('keyup keypress blur change input', function () {
            //    var messg = ($(this).data('invalidMessage'));
            //    if (pass.value != passConfirm.value) {

            //    }
            //});

        })();
    </script>
}

