﻿
@{
    ViewBag.Title = "Aplicaciones";
    Layout = "~/Views/Shared/_BasicTemplate.cshtml";
    ViewBag.NombreApp = "SAPU";
}

@{
    if (Layout == "~/Views/Shared/_BasicTemplate.cshtml")
    {
        <br /><br /><br />
    }
}

<div class="col-md-8 order-md-1">
    <h4 class="mb-3 font-weight-light text-primary">Aplicaciones</h4>
    <div class="dropdown-divider"></div>
    <form class="needs-validation" novalidate>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="iniciales">Iniciales</label>
                <input type="text" class="form-control" id="iniciales" placeholder="" value="" required>
                <div class="invalid-feedback">
                    Iniciales son requeridas.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="" value="" required>
                <div class="invalid-feedback">
                    Nombre es requerido
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="version">Versión</label>
                <input type="text" class="form-control" id="version" placeholder="">
                <div class="invalid-feedback">
                    Versión es requerida.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="url">URL<span class="text-muted">*</span></label>
                <input type="text" class="form-control" id="url" placeholder="">
                <div class="invalid-feedback">
                    URL es requerida.
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="estado">Estado</label>
                <div class="custom-control custom-radio">
                    <input id="estadoActivo" name="estadoUser" type="radio" class="custom-control-input" checked required>
                    <label class="custom-control-label" for="estadoActivo">Activo</label>
                </div>
                <div class="custom-control custom-radio">
                    <input id="estadoInactivo" name="estadoUser" type="radio" class="custom-control-input" required>
                    <label class="custom-control-label" for="estadoInactivo">Inactivo</label>
                </div>
                <div class="invalid-feedback">
                    Selecciona un estado
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="imagen">Imagen</label>
                <input type="file" class="form-control-file" id="imagen" placeholder="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"><button class="btn btn-primary btn-lg btn-block" type="submit">Guardar Datos</button></div>
            <div class="col-md-6"><button class="btn btn-outline-secondary btn-lg btn-block" type="reset">Cancelar</button></div>
        </div>

    </form>
</div>

<hr class="mb-4">


<div class="conatiner">
    <table id="tblAplicaciones" class="table table-striped table-bordered table-dark" style="width:100%">
        <thead>
            <tr>
                <th>Iniciales</th>
                <th>Nombre</th>
                <th>Version</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Diego Iraheta</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
            </tr>
        </tbody>
    </table>
</div>



@section scripts{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" type="text/css" />
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript" crossorigin="anonymous"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js" type="text/javascript" crossorigin="anonymous"></script>
    <script>
        // JavaScript que deshabilita el submit del formulario si hay campos que no pasan la validacion
        (function () {
            'use strict';

            window.addEventListener('load', function () {
                //validando confirmacion de password
                //var pass = jQuery('#password');
                //var passConfirm = jQuery('#passwordConfirm');
                //passConfirm.setCustomValidity(pass.value != passConfirm.value ? "Error" : "");

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);

        })();
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblAplicaciones').DataTable();
        });
    </script>
}